/*carousel*/
.carousel-item {
  height: 601px;
}
.carousel-item img {
  margin-top: -120px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url();
}
.carousel-item .display-4 {
  margin-top: -420px;
}
.carousel-item hr {
  border-color: #F05F40;
  width: 70px;
  border-width: 2px;
}
.carousel-item .btn {
  background-color: #F05F40;
  border: none;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  margin: 10px; 
}
.fug {
  background-color: grey;
}
.fug h5 {
  color: lightgrey;
}
.fug li a{
  text-decoration: none;
  color: white;
}