body {
 	 background-image:url(girl.jpg);
      background-size: cover;
      height: 540px;
      color: white;
 }
 .container {
 	width: 30%;
 	margin-top: 8%;
 	box-shadow: 0 3px 28px rgba(0,0,0,0.5);
 	padding: 40px;
 	border-radius: 25px;
 }
 .btn {
 	width: 48%;
 	 background-color: #F05F40;
	  border: none;
	  border-radius: 25px;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin-top: 25px;
	  margin: 10px;
 }
 hr {
  border-color: #F05F40;
  width: 150px;
  border-width: 2px;
}
.fug {
	background-color: grey;
  }
  .fug h5 {
	color: lightgrey;
  }
  .fug li a{
	text-decoration: none;
	color: white;
  }