 body {
 	 background-image:url(boy.jpg);
      background-size: cover;
      height: 650px;
      color: white;
     
 }
 h1 {
 	padding-left: 100px;
 	padding-top: 30px;
 }
 .containerr {
 	width: 50%;
 	margin-top: 8%;
 	margin-left: 25%;
 	margin-right: 25%;
 	box-shadow: 0 3px 28px rgba(0,0,0,0.5);
 	padding: 40px;
 	border-radius: 25px;
 }
 hr {
 	 border-color: #F05F40;
	  width: 170px;
	  border-width: 2px;
 }
 .fug {
	background-color: grey;
  }
  .fug h5 {
	color: lightgrey;
  }
  .fug li a{
	text-decoration: none;
	color: white;
  }